<div class="container h-100 text-center">
    <table style="height: 100%;" class="table">
      <tbody>
        <tr>
          <td class="align-middle text-center w-100">
            <img src="images/loading.gif" alt="Welcom">
          </td>
        </tr>
      </tbody>
    </table>
</div>