	<div class="container h-100">
		<div class="htop">
			<h2 class="text-center">Создание спикера: Имя Фамилия</h2>
      {{speakers-form speakers=model onsubmit=(action "saveSpeakers")}}
		</div>
	</div>